body {
  background-color: #b22222;
}
.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
#siteBanner:hover {
  color: #ff4500;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 50px 0;
  background-color: #fff;
}

.letter span {
  font-size: 60px;
  color: white;
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  animation: drop 0.4s forwards;
  animation-delay: calc(var(--i) * 0.07s);
  margin-bottom: 50px;
}

@keyframes drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menubar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #f5e8c7;
}
a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #b22222;
  font-weight: bold;
}

a:hover {
  color: #ff4500;
}

.logo {
  margin-bottom: 40px;
  margin-top: 20px;
  width: 50%;
  border-radius: 10px;
}
.origin {
  background-color: #ff441f;
  color: white;
  font-size: 20px;
  font-family: cursive;
  font-style: italic;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
.LoginForm {
  background-color: #b22222;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  border: #ff4500;
}
.LoginForm a {
  color: #fff;
  text-decoration: underline;
}
input {
  margin: 10px;
  font-size: 12px;
  padding: 5px;
  background-color: #fac3a5f1;
  color: #000;
  font-size: large;
}
button {
  padding: 5px 10px;
  margin: 10px;
  background: #ff7b00;
  color: white;
  border: solid 1px #ff4500;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  width: auto;
  height: auto;
}

button:hover {
  background: #e05a5a;
}
.SignUpForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #b22222;
  color: white;
  border-radius: 10px;
  box-shadow: #ff4500;
  white-space: normal;
  width: auto;
  height: auto;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b22222;
  color: white;
}

.menuCards {
  display: flex;
  flex-direction: row;
  background-color: #ea0d0d;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  overflow-y: scroll;
}
#originStory::first-letter {
  font-size: 35px;
  font-weight: bold;
  margin-right: 1px;
}
.CardMedia {
  height: auto;
}
.CardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  color: #ea0d0d;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
